<section class="step">
  <div class="container step-container">
    <h2 class="visually-hidden">List of specific influencers</h2>

    <div class="step-wrapper">
      <p class="step-number">#01</p>

      <img
        srcset="./img/step.png 1x, ./img/step@2x.png 2x"
        src="./img/step.png"
        alt="woman in a yoga pose"
        width="230"
        height="125"
        class="step-img"
      />
    </div>

    <svg class="stars-icon" width="64" height="73">
      <use href="./img/icons.svg#icon-stars"></use>
    </svg>

    <p class="step-desc">
      Get a list of specific influencers in your niche at your fingertips so you
      can focus on managing your status.
    </p>

    <a href="" class="step-link"
      >Next
      <!-- <svg class="step-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow"></use></svg
    > -->
      <img src="../img/arrow-gradient.svg" alt="next" width="24" height="24" />
    </a>
  </div>
</section>
