.hero {
  padding-top: 40px;
  padding-bottom: 32px;
  /* height: 965px; */
}

.container {
}

.hero-container {
  /* background-image: url(/img/hero-img.png);
  background-repeat: no-repeat;
  background-position: left 400px;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero-container {
    background-image: url('/img/hero-img.png@2x');
  } */
}

.hero-title {
  color: var(--dark-title-color);
  text-align: center;
  font-size: 44px;
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 1.35;
  margin-bottom: 19px;
}

.hero-title span {
  color: var(--color-white-color);
}

.hero-desc {
  color: var(--color-dark-text-color);
  text-align: center;
  font-size: 15px;
  margin-bottom: 24px;
  line-height: 1.5;
}

.hero-btn {
  color: var(--color-white-color);
  font-size: 15px;
  font-family: inherit;
  font-weight: 500;
  min-width: 206px;
  height: 56px;
  border-radius: 64px;
  background: var(
    --gradient-color,
    linear-gradient(10deg, #ff52af 0%, #9f53ff 100%)
  );
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 48px;
  gap: 4px;
}

.hero-icon {
  fill: var(--color-white-color);
}

.hero-list {
  display: flex;
  gap: 48px;
  justify-content: center;
  margin-bottom: 32px;
}

.hero-list-item {
}

.hero-list-number {
  color: var(--color-dark-title-color);
  font-size: 28px;
  font-family: var(--secondary-font);
}

.hero-list-category {
  color: var(--color-dark-title-color);
  font-size: 13px;
}

.hero-img {
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 96px;
    margin-bottom: 20px;
    max-width: 576px;
    text-align: left;
  }

  .hero-desc {
    font-size: 16px;
    margin-bottom: 32px;
    max-width: 417px;
    text-align: left;
  }

  .hero-btn {
    margin-left: unset;
    margin-right: unset;
  }

  .hero-list {
    justify-content: flex-start;
  }

  .hero-list-number {
    font-size: 56px;
  }

  .hero-list-category {
    font-size: 14px;
  }
}
